src/resources/bin/**/*.exe filter=lfs diff=lfs merge=lfs -text
src/resources/bin/**/gzrecover filter=lfs diff=lfs merge=lfs -text
src/resources/bin/**/sqlite_dissect filter=lfs diff=lfs merge=lfs -text
